<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <a href="/">
        <i class="fas fa-brain"></i>
        <span>Medo Care</span>
      </a>
    </div>
    <div class="nav-menu">
      <a href="/#home" class="nav-link">Home</a>
      <a href="/#features" class="nav-link">Features</a>
      <a href="/#about" class="nav-link">About</a>
      <a href="/#contact" class="nav-link">Contact</a>
      <a href="/login" class="nav-btn btn-secondary">Login</a>
      <a href="/signup" class="nav-btn btn-primary">Sign Up</a>
    </div>
    <div class="hamburger">
      <span></span><span></span><span></span>
    </div>
  </div>
</nav>
